<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>cache2</title>
    <script defer>
        //监听同源,对localStorage生效
        window.addEventListener('storage', function (e) {
            console.log('key--'+e.key)
            console.log('oldValue--'+e.oldValue)
            console.log('newValue--'+e.newValue)
            console.log('url--'+e.url)
            console.log('storageArea--'+e.storageArea)
            if(e.key && e.key==='color'){
                document.body.style.backgroundColor = e.newValue;
            }
        },true);
    </script>
    <style>
        body{
            min-height: 600px;
        }
    </style>

</head>
<body>
<a href="cache.html">cache</a>
<a href="cache2.html">cache2</a>
<a href="cache3.html">cache3</a>
</body>
</html>