<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>cache</title>
    <script defer>
        if(localStorage){
            localStorage.clear()
            localStorage.setItem('color','gray')
            var len = localStorage.length;
            console.log(len)
        }
        if(sessionStorage){
            sessionStorage.clear()
            sessionStorage.setItem('color','red')
        }

    </script>
    <style>
        body{
            min-height: 600px;
            background-color: #a0b3d6;
        }
    </style>

</head>
<body>
<a href="cache.html">cache</a>
<a href="cache2.html">cache2</a>
<a href="cache3.html">cache3</a>
</body>
</html>